.h1{
  color:white;
  font-size:30px;
}
.h2{
  color:white;
  font-size:40px;
}
.h3{
  color:white;
  font-size:40px;
}
.leftContainer{
  width:50%;
  height:50%;
  margin-left: 100px;
  }

.rightContainer{
  width:50%;
  height:50%;

}
img{
  width: 200px;
  height:200px;
}
.MainContainer{
  background-color: black;
    width: 100%;
    align-items:center;
    display: flex;
    padding-bottom: 20px;
}
.rules{
  color:white;
}
